html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 700px;
    margin-top: 50px;
    overflow: hidden; /* Clear the float */
}

li {
    float: left;
}
  
a {
    display: block;
    padding: 8px;
    color: white;
    
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold; /* Makes the text bold */
    background-color: black;
    text-decoration: none; /* Removes the underline */
}

li a:hover {
    text-shadow: 0px 0px 5.5px lightgrey;
}

div.image img {
    position: absolute;
    height: 100px;
    width: 200px; 
    transform: translateY(-75px) translateX(40px);
}

div.Part1 #Header {
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    line-height: 1; 
    transform: translateY(60px) translateX(20px); /* Combine translations */
}


div.Part1 #Content {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.5; 
    transform: translateY(5px);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
}


div.Part1 #Link {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.5; 
    transform: translateY(-70px);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
}

div.Part1 button {
    background-color: red; 
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    background-size: contain;
    transform: translateY(-120px) translateX(150px);
    box-shadow: 0 8px 16px 0 white(0,0,0,0.2);

}

  
div.Part1 button:hover {
    background-color: #CC0000; /* Green */
    color: white;
}

#Part2 {
    background-color: black;
    height: 800px;
}

div.Network #Header2 {
    color: white;
    text-align: left;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: 50px;

}

div.Network #Paragraph {
    color: white;
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    margin-right: 655px;
    margin-left: 50px;
    margin-top: 5px;
}

div.Network div.flow_chart img {
  margin-top: 10px;
  position: absolute;
  height: 600px;
    
  transform: translateY(-550px) translateX(1000px);
}

.reveal{
    position: relative;
    transform: translateY(40px);
    opacity: 0;
    transition: 3s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  
.arrow1
{
  position: relative;
  bottom: 13.8rem;
  left: 50%;
  margin-left:-330px;
  width: 90px;
  height: 90px;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAABlBMVEUAAAD///+l2Z/dAAAB00lEQVR4nO3b2WrrQBBFUev/fzoEEvAgtbq7Rh/2erfqbELutQ15PAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAx5/qHcYlxxPnXalLjlf+83KGHB9CRsYv+Xx5UYlxyMnLa0qMQ05fXlFiHXLx+vQS846rBySXmGdcPiC3xD5j8ITEEocVo0eklXiMGD4jqcRlw/ghKSU+E26eklDitaC6xO3+3YOCS/zO3z4ptMTzemWJ7+26Eu/LVSX+d2tKIq5WlMTczC+JuphdEncvtyTyWmZJ7K28kuhLWSXxd3JKMq6o3ND5qev8Hur8y6jzf5XOuwed93M677B1PvPofArV+V5A55sane/OPK/Xdvjdr+7wWlDf4bOhQ4fHih4d9h1dOqxL+nTYtnTqsKzp1bG/p1vH7qJ+HXubOnbsrOrZsb6ra8fqsr4da9s6d6ys690xv697x+zC/h1zG7+hY2bld3R4lFQX/FPpsJZUr3+m0mEpqV7+TqVjt6R69RmVjp2S6sVXVDpWS6rXjqh0rJRUL72j0jFbUr1yhkrHt3wenKHS0ePv5nyodIxKqpetUum4KqletUOl46yketEulY73kuo1FiodvzQqAAAAAAAARPwA83IT9Y3HusMAAAAASUVORK5CYII=);
  background-size: contain;
}

.bounce1 {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.arrow2
{
  position: relative;
  bottom: 0.3rem;
  left: 50%;
  margin-left:-420px;
  width: 90px;
  height: 90px;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAABlBMVEUAAAD///+l2Z/dAAAB00lEQVR4nO3b2WrrQBBFUev/fzoEEvAgtbq7Rh/2erfqbELutQ15PAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAx5/qHcYlxxPnXalLjlf+83KGHB9CRsYv+Xx5UYlxyMnLa0qMQ05fXlFiHXLx+vQS846rBySXmGdcPiC3xD5j8ITEEocVo0eklXiMGD4jqcRlw/ghKSU+E26eklDitaC6xO3+3YOCS/zO3z4ptMTzemWJ7+26Eu/LVSX+d2tKIq5WlMTczC+JuphdEncvtyTyWmZJ7K28kuhLWSXxd3JKMq6o3ND5qev8Hur8y6jzf5XOuwed93M677B1PvPofArV+V5A55sane/OPK/Xdvjdr+7wWlDf4bOhQ4fHih4d9h1dOqxL+nTYtnTqsKzp1bG/p1vH7qJ+HXubOnbsrOrZsb6ra8fqsr4da9s6d6ys690xv697x+zC/h1zG7+hY2bld3R4lFQX/FPpsJZUr3+m0mEpqV7+TqVjt6R69RmVjp2S6sVXVDpWS6rXjqh0rJRUL72j0jFbUr1yhkrHt3wenKHS0ePv5nyodIxKqpetUum4KqletUOl46yketEulY73kuo1FiodvzQqAAAAAAAARPwA83IT9Y3HusMAAAAASUVORK5CYII=);
  background-size: contain;
}

.bounce2 {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#Part3 {
  background-color: black;
  height: 800px;
} 

div.Projection #Header2 {
  color: white;
  text-align: left;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin-left: 50px;

}

div.Projection #Paragraph {
  color: white;
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  margin-right: 655px;
  margin-left: 50px;
  margin-top: 5px;
}

div.Projection div.Will_Smith img {
  margin-top: 10px;
  position: absolute;
  height: 300px;

    
  transform: translateY(-425px) translateX(900px);
}
